@import url('Components/about_us_section.css');
@import url('Components/clients_section.css');
@import url('Components/contact_us_section.css');
@import url('Components/footer.css');
@import url('Components/general_description_section.css');
@import url('Components/hero.css');
@import url('Components/navbar.css');
@import url('Components/preloader.css');
@import url('Components/products_section.css');

:root {
    --bs-body-bg: whitesmoke;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden ;
}

.header {
    z-index: 3;
}

/* Scroll Effect  */

.hidden {
    opacity: 0;
    transition: ease 1s;
}

.show {
    opacity: 1;
}