:root {
    --bs-body-bg: rgb(65,63,63);
    --bs-body-font-family: 'Montserrat', sans-serif;
}

.header {
    z-index: 3;
}

#navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: #eb5058;
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    bottom: 40px;
    right: 50%;
}

/* Hero section */

.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;

    background-image: url('media/second_slide.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.hero-text {
    color: white;
    z-index: 2;

    left: -5%;
}

.hero-scroll-btn {
    position: absolute;
    color: white;
    bottom: 40px;
    z-index: 2;
}

.hero-scroll-btn a {
    color :white
}

/* about me section */

.about-me {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.sep {
    background-color:#eb5058;
    height: 5px;
    z-index: 3;
    border-radius: 15px;
}
