:root {
    --bs-body-bg: rgb(65,63,63);
    --bs-body-font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden ;
}

.header {
    z-index: 3;
}

#navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: #eb5058;
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    bottom: 40px;
    right: 50%;
}

/* Hero section */

.hero {
    position: relative;
    height: 85vh;
    width: 100%;
    background-color: var(--primary-color);
    overflow: hidden;

    background-image: url('media/second_slide.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.hero-text {
    color: white;
    z-index: 2;

    left: -5%;
}

.hero-scroll-btn {
    position: absolute;
    color: white;
    bottom: 40px;
    z-index: 2;
}

.hero-scroll-btn a {
    color :white;
}

/* Navbar section */

.navbar-card-active {
    background-color: black;
    opacity: 0.5;
}

/* about me section */

.about-us {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
}

.sep {
    background-color:#eb5058;
    height: 5px;
    z-index: 3;
    border-radius: 15px;
}

/* general description section */

.general-description {
    width: 100vw;
    height: 70vh;
    background-color: whitesmoke;
    overflow: hidden;
}

.general-description-text-container {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    color: white;
    background-color: #eb5058;
    overflow: hidden;
}

/* Preloader Section */

#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: black url('media/preloader_placeholder.gif') no-repeat center center;
    background-size: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #FCFCFF;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    transition: 1.5s ease
}

#intro_img_1 {
    opacity: 1;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
}

#intro_img_2 {
    opacity: 0;
    position: relative;
    animation-name: example;
    animation-delay: 500ms;
    animation-duration: 5s;
}

#intro_img_3 {
    opacity: 0;
    position: relative;
    animation-name: example;
    animation-delay: 1000ms;
    animation-duration: 5s;
}

/* @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }  */

@keyframes example {
    0%   {left:-200px; top:0px; opacity: 0;}
    50% {left:0px; top:0px; opacity: 1; }
    100% {left:0px; top:0px; opacity: 1; }
}

/* Porjects Section */

.products {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.products_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: auto;
    overflow-x: hidden;
}

.product_card {
    display: flex;

    background-color: #eb5058;
    width: 100%;
    min-height: 180px;
    max-height: 180px;
}

.product_card_img {
    background-image: url('media/image_placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
}

.product_card_text {
    width: 65%;
}

/* Scroll Effect  */

.hidden {
    opacity: 0;
    transition: ease 1s;
}

.show {
    opacity: 1;
}