.clients {
    height: auto;
    width: 100%;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.clients_container {
    width: 85%;
    height: 100%;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.clients_card {
    width: 100%;
    min-height: 300px;
    background-color: #eb5058;
}

.clients_card_img {
    background-image: url('../media/image_placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 75%;
}

@media screen and (min-width: 850px) {
    .clients_container {
        flex-direction: row;
        overflow-y: hidden;
    }
}