footer {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: #959188;
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_block {
    width: 100%;
    height: 9vh;
    background-color: whitesmoke;
}