#navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: #eb5058;
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    bottom: 40px;
    right: 50%;
}

.navbar-card-active {
    background-color: black;
    opacity: 0.5;
}

.header-lg {
    z-index: 100;
    width: 100vw;
    display: none;
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
}

.header-lg-inner-container {
    height: 10vh;
}

.header-lg-logo {
    border-radius: 50%;
    width: 150px;
    position: relative;
    top: 50px;
}

.header-lg-items-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

.header-lg-item {
    color: whitesmoke;
    text-decoration: none;
    z-index: 1000;
}

@media screen and (min-width:992px) {
    .header {
        display: none;
    }

    .header-lg {
        display: block;
    }

}